body {
    text-align: center;
    background-color: #b8bd39;
  }
  
  h1 {
    font-size: 5rem;
    color: #ef211d;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #fe137d;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .w {
    background-image: url("images/cat.jpg");
    background-size: 120% 100%;
    background-repeat: no-repeat;
  
  }
  
  .a {
    background-image: url("images/dogg.jpg");
  
  }
  
  .s {
    background-image: url("images/elephant.jpg");
  
  }
  
  .d {
    background-image: url("images/hen.jpg");
  
  }
  
  .j {
    background-image: url("images/lion.jpg");
  
  }
  
  .k {
    background-image: url("images/peacock.jpg");
  
  }
  
  .l {
    background-image: url("images/tiger.jpg");
  
  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #156bb2;
    font-size: 2rem;
    font-family: 'Arvo', cursive;
    line-height: 7;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  